*{
    margin: 0;
    font-style: italic
}

.Encabezado{
    background-color:blue;
    color: yellow;
}

.Encabezado__titulo{
    text-align: center;
}

.Encabezado__enlace{
    text-decoration: none;
    color: yellow;

}

.Encabezado__lista{
    list-style: none;
    
}

.juegos-recomendados__h3{
    margin-bottom: 5px;
}

.juegos-recomendados__subtitulo{
    margin: 10px;
}

.juegos-recomendados__seccion{
    margin: 10px;
    margin-bottom: 5px;
}

.juegos-recomendados__imagen{

    height: 350px;
    width: 350px;
    border: 7px solid yellow;
}

.juegos-recomendados__parrafo{
    font-family: 'Times New Roman', Times, serif;
}

.Formulario{

    border: 10px solid gray;
    margin-bottom: 10px;
}

.Formulario__boton{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: bold; /*Grosor del textp*/
    
}

.Formulario__boton--enviar{
    background-color: green;
    /* border: 4px solid green; */
}

.Formulario__boton--resetear{
    background-color: red;
}

.Pie-pagina{
    background-color: gray;
    text-align: center;
}

.Pie-pagina__listado{
    list-style: none;
}

.Pie-pagina__parrafo{
    font-family: 'Times New Roman', Times, serif;
    
}


.Ranking{
    background-color:blue;
    color: yellow;
    margin: 0px;
    margin-bottom: 10px;
    
}


.Ranking__caja{

    display: grid;
    grid-template-columns: repeat(3,auto);/* 3 columnas, las columnas miden lo que necesite su contenido */
    justify-content: center; /*centra toda la grilla horizontalmente*/
    gap: 10px; /*espacio entre las fotos*/
    

}

.Ranking__imagen{
    height: 250px;
    width: 350px;
    border: 3px solid yellow;
}

.Ranking__enlace{
    color: red;
}