*{
    margin: 0;
}

.Encabezado{
    background-color: gray;
}

.Encabezado__titulo{
    text-align: center;
}

.Encabezado__enlace{
    text-decoration: none;
    color: white;

}

.Encabezado__lista{
    list-style: none;
    
}

.Mis-juegos{
    margin: 10px;
    font-style: italic/*Estilo del textp*/
}

.Mis-juegos__seccion{
    margin-bottom: 5px;
}

.Mis-juegos__imagen{

    height: 350px;
    width: 350px;
    border: 7px solid gray;
}

.Mis-juegos__parrafo{
    font-family: 'Times New Roman', Times, serif;
}

.Formulario{

    border: 10px solid gray;
    margin-bottom: 10px;
}

.Formulario__boton{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: bold; /*Grosor del textp*/
    
}

.Formulario__boton--enviar{
    background-color: green;
    /* border: 4px solid green; */
}

.Formulario__boton--resetear{
    background-color: red;
}

.Pie-pagina{
    background-color: gray;
    text-align: center;
}

.Pie-pagina__listado{
    list-style: none;
}

.Pie-pagina__parrafo{
    font-family: 'Times New Roman', Times, serif;
    
}